@using System.Configuration;
@{
    ViewBag.Title = "黑龙江省中医医院";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->
    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/diaocha.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="diaocha-layout">
    <div class="navbar navbar-default">
        <div class="container diaocha-header h4 white">
            欢迎使用黑龙江省中医医院反馈评价系统
            <div class="pull-right h5">
                欢迎使用黑龙江省中医医院反馈评价系统
            </div></div>
        
    </div>
    <div class="space-12"></div>
    <div class="container daiocha-content">
        <h3 class="center blue">患者情况反馈调查表</h3>
        <h5 class="center gray">调查单位：黑龙江省中医医院治未病中心 调查时间：@System.DateTime.Now</h5>

        
        <div class="container daiocha-description"><p>尊敬的患者:</p>
        <p>您好，您已经在我中心治疗了一段时间了，为了更准确的了解您的身体情况，我们需要进行一次患者情况调查表，目标是更准确的了解您的身体情况，针对性的治疗您的疾病，我们会根据医生的专业意见和您对自己身体情况的了解，调整治疗康复方案，也希望您早日康复。
         </p>在此对您的合作表示衷心的感谢！</div>
        <div class="space-6"></div>
        <div class="container">
            <form class="form-horizontal">
                <div class="form-group">
                    <h4> 1、您目前的身体恢复情况如何？</h4>
                    <div class="">
                        <div class="radio">
                            <label>
                                <input class="ace" type="radio" name="FankuiReslut" id="FankuiReslut">
                                <span class="lbl"> 已经痊愈</span>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input class="ace" type="radio" name="FankuiReslut" id="FankuiReslut">
                                <span class="lbl"> 已经好转</span>
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input class="ace" type="radio" name="FankuiReslut" id="FankuiReslut">
                                <span class="lbl"> 没有变化</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4> 2、您的身体情况说明及对我们的建议？</h4>
                    <div>
                        <textarea class="col-xs-12" name="FankuiDescription" id="FankuiDescription"></textarea>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
</div>
    <!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <!-- <![endif]-->
    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
        function show_box(id) {
            jQuery('.widget-box.visible').removeClass('visible');
            jQuery('#' + id).addClass('visible');
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
