@{
    ViewBag.Title = "图片管理";
    ViewBag.SmallTitle = "图片添加";
}
@section HeadCss{
   <link href="/assets/css/labelauty.css" rel="stylesheet" type="text/css" />
}
<div class="page-content">
    <div class="page-header">
        <h1>
           中医体质辨识测评
            <small>
                <i class="icon-double-angle-right"></i>
                黑龙江省中医药科学院
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            

            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-header widget-header-blue widget-header-flat">
                            <h4 class="lighter">测评量表</h4>

                            
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
                                    <ul class="wizard-steps">
                                        <li data-target="#step1" class="active">
                                            <span class="step">1</span>
                                            <span class="title">阳虚质</span>
                                        </li>

                                        <li data-target="#step2">
                                            <span class="step">2</span>
                                            <span class="title">阴虚质</span>
                                        </li>

                                        <li data-target="#step3">
                                            <span class="step">3</span>
                                            <span class="title">气虚质</span>
                                        </li>

                                        <li data-target="#step4">
                                            <span class="step">4</span>
                                            <span class="title">痰湿质</span>
                                        </li>

                                        <li data-target="#step5">
                                            <span class="step">5</span>
                                            <span class="title">湿热质</span>
                                        </li>

                                        <li data-target="#step6">
                                            <span class="step">6</span>
                                            <span class="title">血瘀质</span>
                                        </li>

                                        <li data-target="#step7">
                                            <span class="step">7</span>
                                            <span class="title">气郁质</span>
                                        </li>

                                        <li data-target="#step8">
                                            <span class="step">8</span>
                                            <span class="title">特禀质</span>
                                        </li>

                                        <li data-target="#step9">
                                            <span class="step">9</span>
                                            <span class="title">平和质</span>
                                        </li>
                                    </ul>
                                </div>

                                <hr />
                                <div class="step-content row-fluid position-relative" id="step-container">
                                    
                                    <div class="step-pane active" id="step1">
                                        <h3 class="lighter block green">阳虚质测量</h3>

                                        <form class="form-horizontal" id="sample-form">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-4 control-label no-padding-right h4">1、您手脚发凉吗?</label>

                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="rdo">

                                                        <!--男生-->

                                                        <input type="radio" name="rdo" class="rdolist"/>

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">没有（根本不）</span>

                                                        </label>

                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">很少（有一点）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">有时（有些）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">经常（相当）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">总是（非常）</span>

                                                        </label>

                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-4 control-label no-padding-right h4">2、您胃脘部、背部或腰膝部怕冷吗？</label>

                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="rdo">

                                                        <!--男生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">没有（根本不）</span>

                                                        </label>

                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">很少（有一点）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">有时（有些）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">经常（相当）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">总是（非常）</span>

                                                        </label>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-4 control-label no-padding-right h4">3、您感到怕冷、衣服比别人穿得多吗？</label>

                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="rdo">

                                                        <!--男生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">没有（根本不）</span>

                                                        </label>

                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">很少（有一点）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">有时（有些）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">经常（相当）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">总是（非常）</span>

                                                        </label>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-4 control-label no-padding-right h4">4、您比一般人耐受不了寒冷（冬天的寒冷，夏天的冷空调、电扇等）吗？</label>

                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="rdo">

                                                        <!--男生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">没有（根本不）</span>

                                                        </label>

                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">很少（有一点）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">有时（有些）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">经常（相当）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">总是（非常）</span>

                                                        </label>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-4 control-label no-padding-right h4">5、您比别人容易患感冒吗？</label>

                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="rdo">

                                                        <!--男生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">没有（根本不）</span>

                                                        </label>

                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">很少（有一点）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">有时（有些）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">经常（相当）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">总是（非常）</span>

                                                        </label>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-4 control-label no-padding-right h4">6、您吃(喝)凉的东西会感到不舒服或者怕吃(喝)凉东西吗？</label>

                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="rdo">

                                                        <!--男生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">没有（根本不）</span>

                                                        </label>

                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">很少（有一点）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">有时（有些）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">经常（相当）</span>

                                                        </label>
                                                        <!--女生-->

                                                        <input type="radio" name="rdo" class="rdolist" />

                                                        <label class="rdobox">

                                                            <span class="check-image"></span>

                                                            <span class="radiobox-content">总是（非常）</span>

                                                        </label>

                                                    </div>
                                                </div>

                                            </div>

                                           
                                        </form>

                                        
                                    </div>
                                    <div class="step-pane" id="step2">
                                        <div class="row-fluid">
                                            第二部
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step3">
                                        <div class="center">
                                            <h3 class="blue lighter">This is step 3</h3>
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step4">
                                        <div class="center">
                                            <h3 class="green">Congrats!</h3>
                                            This is step 4
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step5">
                                        <div class="center">
                                            <h3 class="green">Congrats!</h3>
                                            This is step 5
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step6">
                                        <div class="center">
                                            <h3 class="green">Congrats!</h3>
                                            This is step 6
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step7">
                                        <div class="center">
                                            <h3 class="green">Congrats!</h3>
                                            This is step 7
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step8">
                                        <div class="center">
                                            <h3 class="green">Congrats!</h3>
                                            This is step 8
                                        </div>
                                    </div>

                                    <div class="step-pane" id="step9">
                                        <div class="center">
                                            <h3 class="green">Congrats!</h3>
                                            This is step 9
                                        </div>
                                    </div>

                                    
                                </div>

                                <hr />
                                <div class="row-fluid wizard-actions">
                                    <button class="btn btn-prev">
                                        <i class="icon-arrow-left"></i>
                                        Prev
                                    </button>

                                    <button class="btn btn-success btn-next" data-last="Finish ">
                                        Next
                                        <i class="icon-arrow-right icon-on-right"></i>
                                    </button>
                                </div>
                            </div><!-- /widget-main -->
                        </div><!-- /widget-body -->
                    </div>
                </div>
            </div>

            <div id="modal-wizard" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" data-target="#modal-step-contents">
                            <ul class="wizard-steps">
                                <li data-target="#modal-step1" class="active">
                                    <span class="step">1</span>
                                    <span class="title">Validation states</span>
                                </li>

                                <li data-target="#modal-step2">
                                    <span class="step">2</span>
                                    <span class="title">Alerts</span>
                                </li>

                                <li data-target="#modal-step3">
                                    <span class="step">3</span>
                                    <span class="title">Payment Info</span>
                                </li>

                                <li data-target="#modal-step4">
                                    <span class="step">4</span>
                                    <span class="title">Other Info</span>
                                </li>

                                <li data-target="#modal-step5">
                                    <span class="step">5</span>
                                    <span class="title">Other Info</span>
                                </li>

                                <li data-target="#modal-step6">
                                    <span class="step">6</span>
                                    <span class="title">Other Info</span>
                                </li>

                                <li data-target="#modal-step7">
                                    <span class="step">7</span>
                                    <span class="title">Other Info</span>
                                </li>

                                <li data-target="#modal-step8">
                                    <span class="step">8</span>
                                    <span class="title">Other Info</span>
                                </li>

                                <li data-target="#modal-step9">
                                    <span class="step">9</span>
                                    <span class="title">Other Info</span>
                                </li>
                            </ul>
                        </div>

                        <div class="modal-body step-content" id="modal-step-contents">
                            <div class="step-pane active" id="modal-step1">
                                <div class="center">
                                    <h4 class="blue">Step 1</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step2">
                                <div class="center">
                                    <h4 class="blue">Step 2</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step3">
                                <div class="center">
                                    <h4 class="blue">Step 3</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step4">
                                <div class="center">
                                    <h4 class="blue">Step 4</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step5">
                                <div class="center">
                                    <h4 class="blue">Step 5</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step6">
                                <div class="center">
                                    <h4 class="blue">Step 6</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step7">
                                <div class="center">
                                    <h4 class="blue">Step 7</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step8">
                                <div class="center">
                                    <h4 class="blue">Step 8</h4>
                                </div>
                            </div>

                            <div class="step-pane" id="modal-step9">
                                <div class="center">
                                    <h4 class="blue">Step 9</h4>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer wizard-actions">
                            <button class="btn btn-sm btn-prev">
                                <i class="icon-arrow-left"></i>
                                Prev
                            </button>

                            <button class="btn btn-success btn-sm btn-next" data-last="Finish ">
                                Next
                                <i class="icon-arrow-right icon-on-right"></i>
                            </button>

                            <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                                <i class="icon-remove"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
@section BottomScripts {
<script src="/assets/js/fuelux/fuelux.wizard.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/labelauty.js"></script>
<script type="text/javascript">
    jQuery(function ($) {

  

        var $validation = false;
        $('#fuelux-wizard').ace_wizard().on('change', function (e, info) {
            if (info.step == 1 && $validation) {
                if (!$('#validation-form').valid()) return false;
            }
        }).on('finished', function (e) {
            bootbox.dialog({
                message: "Thank you! Your information was successfully saved!",
                buttons: {
                    "success": {
                        "label": "OK",
                        "className": "btn-sm btn-primary"
                    }
                }
            });
        }).on('stepclick', function (e) {
            //return false;//prevent clicking on steps
        });


        $(document).ready(function () {
            //参数{input类名，选择类型(单选or多选)}
            $(".rdolist").labelauty("rdolist", "rdo");
            $(".chklist").labelauty("chklist", "check");
        });

    })
</script>
@Scripts.Render("~/bundles/jqueryval")
}