@{
    ViewBag.Title = "用户管理";
    ViewBag.SmallTitle = "用户添加";
}
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px;width:600px"></div>





<!-- ECharts单文件引入 -->
@section BottomScripts {
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));

            var option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data: ['体质得分']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子","裤子", "高跟鞋", "袜子"]
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        "name": "体质得分",
                        "type": "bar",
                        "data": [54, 560, 44, 74, 14, 24, 14, 14, 24]
                    }
                ]
            };

            // 为echarts对象加载数据
            myChart.setOption(option);

       
            // 保存图片
            setTimeout(exportImage(myChart.getDataURL("png")), 30000);
            
        }
    );

    function exportImage(a) {
      var data ="a="+ encodeURIComponent(a);
        var xmlhttp;
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("POST", "/Liangbiao/Test", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert("保存成功");
            }
        }
        xmlhttp.send(data);

     
    }
</script>
}