@model SkyWebCMS.Models.UserLoginViewModel
@{
    Layout = null;
}
<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-coffee green"></i>
                请输入账号密码进行登录
            </h4>

            <div class="space-6"></div>

            @using (Html.BeginForm("UserLogin", "User", FormMethod.Post, new { @class="form-horizontal"}))
                  {
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control",@placeholder="用户名" })
                            <i class="icon-user"></i>
                        </span>
                        @Html.ValidationMessageFor(model => model.UserName)
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(model => model.UserPassword, new { @class = "form-control", @placeholder = "密码" })
                            <i class="icon-lock"></i>
                        </span>
                        @Html.ValidationMessageFor(model => model.UserPassword)
                    </label>

                    <div class="space"></div>

                    <div class="clearfix">


                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="icon-key"></i>
                            登录
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            }
                
            




        </div><!-- /widget-main -->

        <div class="toolbar clearfix">
            <div>
                <a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    忘记密码
                </a>
            </div>

            <div>
                <a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">
                    注册新账号
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div><!-- /widget-body -->
</div>
